* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.titulo {
  color: #000000;
  text-align: center; }

.logo {
  height: 35%;
  width: 35%; }

body {
  background-color: #d2acf5; }

.preguntas-f {
  text-align: center;
  color: #000000; }

.novedades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.imagenanim {
  width: 250px;
  height: 250px;
  transition: all 1s; }
  .imagenanim.imagenanim:hover {
    transform: scale(1.1, 1.1); }

/* mapa */
.Mapa {
  width: 50%;
  height: 50%; }

@media (max-width: 360px) {
  .Mapa {
    width: 100%;
    height: 100%; } }

/* productos */
.productoss {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .productoss .imagen {
    width: 250px;
    height: 250px;
    border: #ed4c4c;
    opacity: .5; }
    .productoss .imagen.imagen:hover {
      opacity: 1;
      border: #f367bd; }

.tarjetas {
  text-align: center;
  color: #ed4c4c; }
