$bcgcolor: #d2acf5;
$textcolor:  #000000;
$border: #ed4c4c;
$borderh: #f367bd;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    color: $textcolor;
    text-align: center;
}

.logo{
    height: 35%;
    width: 35%;
}


body{
    background-color:$bcgcolor;
    }
    

.preguntas-f{
    text-align: center;
    color: $textcolor;
}

.novedades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.imagenanim{
    width: 250px;
    height: 250px;
    transition: all 1s;
    &.imagenanim:hover{
        transform: scale(1.1 , 1.1);
    }
}

.respuesta{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* mapa */

.Mapa{
    width: 50%;
    height: 50%;
}

@media (max-width: 360px){
    .Mapa{
        width: 100%;
        height: 100%;
    }
}

/* productos */

.productoss{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .imagen{
        width: 250px;
        height: 250px;
        border: $border;
        opacity: .5 ;
        &.imagen:hover{
            opacity: 1;
            border:$borderh;
        }
    }
}

.tarjetas{
    text-align: center;
    color: $border;
}